* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 217, 161);
    text-align: center;
    --disp1: none;
    --disp2: none;
    --wd: 71px;
    --clr: green;
}

.heading {
    font-size: 45px;
    margin-top: 20px;
}

.game-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    background-color: rgb(210, 227, 241);
    color: black;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    cursor: pointer;
}

.reset-container {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    margin: auto;
}

.outer {
    height: 70px;
    width: 70px;
    padding: 4px;
    background-color: rgb(242, 242, 144);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.player {
    font-size: 40px;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 217, 161);
    position: relative;
    z-index: 99;
    margin: auto;
}

.outer1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 80px;
    width: var(--wd);
    background-color: var(--clr);
    animation: move 0.5s linear infinite;
    display: var(--disp1);

}

.outer2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 80px;
    width: var(--wd);
    background-color: var(--clr);
    animation: move 0.5s linear infinite;
    display: var(--disp2);
}

@keyframes move {
    100% {
        transform: translate(-50%, -50%) rotate(225deg);
    }
}
.outer-container p{
    margin-top: 10px;
    font-variant: small-caps;
}
.player1 {
    color: rgb(158, 8, 8);
}

#player1 {
    font-size: 22px;
}

.outer-container p span {
    font-size: 20px;
}

.reset-button {
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    font-size: 22px;
    background-color: rgb(56, 54, 54);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.reset-button:hover {
    font-size: 26px;
}
.mobile-reset-btn{
    display: none;
}
.disp-responsive{
    display: none;
}
.player2 {
    color: blue;
}

#player2 {
    font-size: 22px;
}

.new-button {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(56, 54, 54);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.new-button:hover {
    font-size: 26px;
}

.msg-container {
    height: 80%;
}

.msg {
    color: yellow;
    font-size: 35px;
}

.hide {
    display: none;
}

.my-fa-trophy{
    display: none; 
    color: goldenrod;
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    padding: 1px 2px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(79, 79, 79);
}
.disp-ib{
    display: inline-block;
}
.close-btn{
    color: red;
    font-size: 22px;
    background-color: inherit;
    border: none;
    font-weight: bold;
}

.form-style{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.form-style input{
    min-width: 180px;
    outline: none;
    border: 1px solid black;
}
.form-style input:focus{
    box-shadow: none;
    outline: none !important;
    border: 1px solid green !important;
}
.my-modal{
    background-color: rgba(255, 255, 255, 0.358);
    backdrop-filter: blur(10px);
}
.my-modal-dialog{
    background-color: rgba(255, 255, 255, 0.358);
    box-shadow: 0px 0px 5px black;
}
/* media query */
@media screen and (max-width:450px) {

    .game-container {
        height: 60%;
        margin-top: 20px;
    }

    .game {
        width: 80%;
        height: 300px;
        gap: 8px;
    }

    .box {
        height: 30%;
        width: 30%;
    }
    .outer-container{
        width: 50%;
    }
    .reset-container {
        width: 80%;
        margin-top: 20px;
    }

    .reset-button {
        display: none;
    }

    #mobile-reset-btn {
        width: 80%;
        margin: 10px auto 2px;
    }
    .disp-responsive{
        display: block;
    }
    .my-fa-trophy{
        width: 22px;
        height: 22px;
        padding: 2px 1px;
        font-size: 12px !important;
    }
    #player1,#player2{
        font-size: 16px;
    }
    .outer-container p span{
        font-size: 16px;
    }
    .outer-container p{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
}
